<routes xmlns="http://camel.apache.org/schema/spring" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://camel.apache.org/schema/spring http://camel.apache.org/schema/spring/camel-spring.xsd">
    <route id="openex-scheduler">
        <from uri="quartz://openexScheduler?cron=0+0/1+*+*+*+?"/>
        <setHeader headerName="Authorization">
            <constant>{{openex.token}}</constant>
        </setHeader>
        <to uri="{{openex.api}}{{openex_scheduler.uri}}"/>
        <!-- Remove authorization header to avoid any compatibility problem with execution modules -->
        <removeHeader headerName="Authorization"/>
        <unmarshal>
            <json library="Gson" unmarshalTypeName="java.lang.Object"/>
        </unmarshal>
        <split executorServiceRef="openex-worker-thread-profile" streaming="true">
            <simple>${body}</simple>
            <!-- Save current data to variables -->
            <setProperty propertyName="inject-data">
                <simple>${body[data]}</simple>
            </setProperty>
            <setHeader headerName="router-header">
                <simple>${body[context][type]}</simple>
            </setHeader>
            <setProperty propertyName="router-callback">
                <simple>${body[context][callback_url]}</simple>
            </setProperty>
            <!-- Inject must be in_progress during processing -->
            <to uri="direct:pending"/>
            <!-- Send only data to workers -->
            <setBody>
                <simple>${property.inject-data}</simple>
            </setBody>
            <doTry>
                <dynamicRouter ignoreInvalidEndpoints="true">
                    <method ref="openexRouter" method="forward"/>
                </dynamicRouter>
                <doCatch>
                    <exception>java.lang.Exception</exception>
                    <log loggingLevel="ERROR" message="Error calling ${header.router-header} ${body}"/>
                    <setBody>
                        <simple>Technical error calling ${header.router-header}</simple>
                    </setBody>
                    <bean ref="openexCallback" method="error"/>
                </doCatch>
                <doFinally>
                    <to uri="direct:callback"/>
                </doFinally>
            </doTry>
        </split>
    </route>
    <route id="openex-pending">
        <from uri="direct:pending"/>
        <setBody>
            <simple>In progress</simple>
        </setBody>
        <bean ref="openexCallback" method="pending"/>
        <to uri="direct:callback"/>
    </route>
    <route id="openex-callback">
        <from uri="direct:callback"/>
        <!-- Setup request headers -->
        <setHeader headerName="Content-Type">
            <constant>application/json</constant>
        </setHeader>
        <setHeader headerName="CamelHttpMethod">
            <constant>POST</constant>
        </setHeader>
        <setHeader headerName="Authorization">
            <constant>{{openex.token}}</constant>
        </setHeader>
        <doTry>
            <setHeader headerName="CamelHttpUri">
                <simple>${property.router-callback}</simple>
            </setHeader>
            <log message="Calling callback ${header.CamelHttpUri} ${body}"/>
            <to uri="http://fake"/>
            <doCatch>
                <exception>java.lang.Exception</exception>
                <log loggingLevel="ERROR" message="Error calling callback ${property.CamelExceptionCaught}"/>
            </doCatch>
        </doTry>
    </route>
</routes>
