<configuration>
    <springProfile name="dev | test">
        <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
        <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
            <encoder>
                <pattern>${CONSOLE_LOG_PATTERN}</pattern>
            </encoder>
        </appender>

        <root>
            <appender-ref ref="STDOUT" />
        </root>
    </springProfile>
    <springProfile name="!(dev | test)">
        <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
        <appender name="jsonEncoder" class="ch.qos.logback.core.ConsoleAppender">
            <encoder class="ch.qos.logback.classic.encoder.JsonEncoder">
                <WithThrowable>true</WithThrowable>
            </encoder>
        </appender>

        <root>
            <appender-ref ref="jsonEncoder" />
        </root>
    </springProfile>
</configuration>