# Common
*/.idea
*/.env
*/dist
*/node_modules
*/coverage
*/npm-debug.log*
*/yarn-debug.log*
*/yarn-error.log*
*__generated__*

# Frontend
openex-front/config/development.json
openex-front/.DS_Store
openex-front/.env.local
openex-front/.env.development.local
openex-front/.env.test.local
openex-front/.env.production.local

# API
openex-api/coverage
openex-api/logs
