# Common
*/.idea
*/.env
*/dist
*/node_modules
*/coverage
*/npm-debug.log*
*/yarn-debug.log*
*/yarn-error.log*
*__generated__*

# Frontend
openbas-front/config/development.json
openbas-front/.DS_Store
openbas-front/.env.local
openbas-front/.env.development.local
openbas-front/.env.test.local
openbas-front/.env.production.local

# API
openbas-api/coverage
openbas-api/logs
