[submodule "openbas-injectors"]
	path = openbas-injectors
	url = git@github-openbas:OpenBAS-Platform/injectors.git
[submodule "openbas-collectors"]
	path = openbas-collectors
	url = git@github-openbas:OpenBAS-Platform/collectors.git
