body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

input:-webkit-autofill {
  background-color: #ffffff !important;
  background-image:none !important;
  -webkit-box-shadow: 0 0 0px 1000px #ffffff inset;
}

h1 {
  font-size: 30px;
  font-weight: 600;
  color: #616161;
}

h2 {
  font-size: 25px;
  font-weight: 500;
  color: #616161;
}