<routes xmlns="http://camel.apache.org/schema/spring">
    <route id="openex-email">
        <from uri="direct:email"/>
        <setHeader headerName="contentType">
            <constant>text/html;charset=UTF-8</constant>
        </setHeader>
        <setHeader headerName="From">
            <simple>${body[sender]}</simple>
        </setHeader>
        <setHeader headerName="subject">
            <simple>${body[subject]}</simple>
        </setHeader>
        <setHeader headerName="CamelFreemarkerTemplate">
            <simple>${body[body]}</simple>
        </setHeader>
        <!-- Send a mail for each user -->
        <split streaming="true" parallelProcessing="true">
            <simple>${body[users]}</simple>
            <setHeader headerName="To">
                <simple>${body[user_email]}</simple>
            </setHeader>
            <choice>
                <when>
                    <simple>${header.To}</simple>
                    <!-- Put the current user as the marker model -->
                    <setHeader headerName="CamelFreemarkerDataModel">
                        <simple>${body}</simple>
                    </setHeader>
                    <to uri="freemarker:from_header"/>
                    <to uri="{{openex.worker_email_transport}}://{{openex.worker_email_host}}?password={{openex.worker_email_password}}&amp;username={{openex.worker_email_user}}"/>
                </when>
                <otherwise>
                    <log loggingLevel="WARN" message="${body} has no email"/>
                </otherwise>
            </choice>
        </split>
        <!-- Set header for callback inject message -->
        <setHeader headerName="return-message">
            <simple>Successfully send mails to ${body[users].size()} users</simple>
        </setHeader>
    </route>
</routes>