html {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-size: 14px;
  font-weight: normal;
  line-height: 20px;
  overflow-x: hidden;
}

input:-webkit-autofill {
  background-color: #ffffff !important;
  background-image: none !important;
  -webkit-box-shadow: 0 0 0px 1000px #ffffff inset;
}

a,
a:hover,
a:visited,
a:focus {
  text-decoration: none;
}

a {
  color: #ff4081;
}

a .MuiListItemText-primary {
  color: #000000;
}

div.line {
  position: absolute;
  top: 6px;
  left: 50%;
  margin-left: -110px;
}

div.line ul {
  margin: 0;
  padding: 0;
}

div.line li {
  width: 10px;
  height: 10px;
  text-align: center;
  line-height: 5px;
  border-radius: 5px;
  background: #ff4081;
  margin: 0 100px 0 100px;
  display: inline-block;
  color: white;
  position: relative;
}

div.line li:first-child {
  margin-left: 0;
}

div.line li:last-child {
  margin-right: 0;
}

div.line li::before {
  content: "";
  position: absolute;
  top: 4px;
  left: -200px;
  width: 200px;
  height: 2px;
  background: #ff4081;
  z-index: 10;
}

div.line li:first-child::before {
  display: none;
}

div.line .active {
  background: #ff4081;
}

div.line .active ~ li {
  background: #ff4081;
}

div.line .active ~ li::before {
  background: #ff4081;
}

.leaflet-container {
  width: 100%;
  height: 100%;
  border-radius: 6px;
}

div.clearfix {
  clear: both;
}
